@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");

.header-block {
  background-image: url("../img/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
  color: #ffff;
}

.auto-motive {
  margin: 280px 647px 0px 210px;
  max-width: 583px;
  min-height: 112px;
  font-size: 56px;
  font-family: "Roboto";
  line-height: 56px;
}

.appointment-button {
  border-radius: 2px;
  margin: 48px 0px 312px 210px;
  width: 211px;
  height: 48px;
  background: #c40b0b;
  background-image: url("../img/button-treatment.png");
  background-repeat: no-repeat;
  background-position: right;
}
.appointment-button > p {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  color: #ffff;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  width: 169px;
}
