<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Lesson10(pseudo classes)</title>
    <link href="css/style.css" rel="stylesheet">
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
</head>

<body>
<div class="block">
    <p>
        <a class="link" href="https://google.com">Lorem</a> ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
        facilis, itaque maxime fuga
        quod quas, doloribus
        ea laborum rem id et quidem at sequi blanditiis dolores magni qui, quam accusamus!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem doloribus qui corrupti, accusantium commodi
        culpa
        perferendis voluptatibus recusandae tenetur, provident rerum. Quam laudantium sed vero fugiat, exercitationem
        fugit est dolor.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel deleniti rerum dicta, culpa voluptas nihil
        consectetur cupiditate, qui cum repellat iure minus ut magnam officiis nam exercitationem laborum nostrum quas!
    </p>
</div>
<form action="#">
    <input class="textinput" type="text"/>
    <button class="textbutton" type="submit">Отправить</button>
    <ul class="list">
        <li>text</li>
        <li>text</li>
        <li>text</li>
        <li>text</li>
        <li>text</li>
    </ul>
</form>
</body>

</html>