<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Lesson6(CSS part 1 HW)</title>
    <link href="css/style.css" rel="stylesheet">
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
</head>

<body>
<div class="background">
    <h1>
        Фрилансер по жизни
    </h1>
    <br>
    <p class="text">
        Поставь лайк всем видосам фрилансера и получи +1000 очков кармы. Поставь лайк всем видосам фрилансера и
        получи +1000
        очков кармы. Поставь лайк всем видосам фрилансера и получи +1000 очков кармы. Поставь лайк всем видосам
        фрилансера и
        получи +1000 очков кармы.
    </p>
    <br>
    <h2>
        CSS. Свойства шрифта и текста
    </h2>
    <br>
    <p class="bold">
        Этот текст жирный. Очень жирный текст. Этот текст жирный. Очень жирный текст. Этот текст жирный. Очень
        жирный текст.
    </p>
    <br>
    <p class="red">
        Этот текст красный. Очень красный текст. Этот текст красный. Очень красный текст. Этот текст красный.
        Очень
        красный
        текст.
    </p>
    <br>
    <h3>
        Домашнее задание
    </h3>

    <div>
        <p class="right">
            Сверстай этот макет используя все свойства о которых мы говорили в видео!
        </p>
        <br>
        <p class="upper">
            Сверстай этот макет используя все свойства о которых мы говорили в видео!
        </p>
        <br>
        <p class="cursive">
            Сверстай этот макет используя все свойства о которых мы говорили в видео!
        </p>
        <br>
        <p class="underline">
            Сверстай этот макет используя все свойства о которых мы говорили в видео!
        </p>
        <br>
        <p class="center">
            Сверстай этот макет используя все свойства о которых мы говорили в видео!
        </p>
        <br>
        <p class="big">
            Сверстай этот макет используя все свойства о которых мы говорили в видео!
        </p>
        <br>
        <p class="line_throw">
            Сверстай этот макет используя все свойства о которых мы говорили в видео!
        </p>
        <br>
        <p class="times_new_roman">
            Сверстай этот макет используя все свойства о которых мы говорили в
            видео!
        </p>
        <br>
        <p class="shadowed">
            Сверстай этот макет используя все свойства о которых мы говорили в
            видео!
        </p>
    </div>
</div>
</body>

</html>